In [34]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [35]:
df = pd.read_csv('Grades Dataset FINAL.csv', delimiter=';')
df

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
0,302,1988,Kona,1954.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19882,30,"8,6",NaN
1,302,1988,Kona,1954.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19881,30,"8,82",NaN
2,302,1988,Kona,1954.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19891,30,"7,97",NaN
3,304,1991,Kona,1964.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19922,12,"7,25",NaN
4,304,1991,Kona,1964.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19911,14,"6,07",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112949,130962,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í orkuvísindum - Iceland School of Energy,49,Graduated,20241,38,"7,4",NaN
112950,130963,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í hátækniverkfræði,49,Graduated,20243,38,"6,1",NaN
112951,130964,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í tölvunarfræði,49,Graduated,20243,38,"9,5",NaN
112952,130965,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í hátækniverkfræði,49,Graduated,20233,38,"6,1",NaN
112953,130966,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í tölvunarfræði,49,Graduated,20233,38,"9,5",NaN

In [36]:
df['Grade'].isna().sum()

np.int64(0)

In [37]:
df['Grade'] = df['Grade'].astype(str).str.replace(',', '.').astype(float)

In [38]:
df.nlargest(5, 'Grade')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
90934,97988,2018,Kona,1999.0,Iceland,Sálfræðideild,Bachelors Degree,BSc í sálfræði,267,Graduated,20193,32,30.0,NaN
341,580,1995,Kona,1975.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Diplóma í kerfisfræði,3,Graduated,19952,30,25.0,NaN
20,314,1998,Karl,1978.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,19981,30,15.0,NaN
46,334,2000,Karl,1973.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,20012,6,10.0,NaN
151,418,1998,Karl,1968.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,19992,6,10.0,NaN

In [39]:
df.nsmallest(5, 'Grade')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
200,466,1994,Karl,1974.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Diplóma í kerfisfræði,3,Graduated,19942,30,-8.15,NaN
56079,60590,2011,Karl,1977.0,Iceland,Tæknifræðideild,Bachelors Degree,Diplóma í véliðnfræði,71,Graduated,20043,18,2.50,NaN
23,314,1998,Karl,1978.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,20001,18,5.00,NaN
106,388,1988,Karl,1965.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19902,16,5.00,NaN
347,584,1995,Karl,1972.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Diplóma í kerfisfræði,3,Graduated,19961,24,5.00,NaN

In [40]:
df.drop(df[df['Grade'] > 10].index, inplace=True)
df.nlargest(5, 'Grade')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
46,334,2000,Karl,1973.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,20012,6,10.0,NaN
151,418,1998,Karl,1968.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,19992,6,10.0,NaN
3548,3076,2000,Karl,1975.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,20021,6,10.0,NaN
3555,3076,2000,Karl,1975.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,20012,6,10.0,NaN
6734,5010,2001,Kona,1974.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði (HMV),26,Graduated,20042,6,10.0,NaN

In [41]:
print(list(df.columns))

['StudentID', 'RegistrationYear', 'Gender', 'BirthYear', 'Origin', 'Department', 'Major_Type', 'Major', 'MajorID', 'Reg_Status', 'Semester', 'Credits', 'Grade', 'Unnamed: 13']

In [42]:
df.nlargest(10, 'BirthYear')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
73288,79476,2015,Karl,2016.0,Europe,MBA,Masters Degree,MBA,50,Graduated,20171,"22,5",9.25,NaN
73289,79476,2015,Karl,2016.0,Europe,MBA,Masters Degree,MBA,50,Graduated,20153,"22,5",9.25,NaN
73290,79476,2015,Karl,2016.0,Europe,MBA,Masters Degree,MBA,50,Graduated,20161,"22,5",9.13,NaN
73291,79476,2015,Karl,2016.0,Europe,MBA,Masters Degree,MBA,50,Graduated,20163,"22,5",9.02,NaN
70360,75744,2014,Kona,2015.0,Europe,MBA,Masters Degree,MBA,50,Graduated,20161,21,8.25,NaN
70361,75744,2014,Kona,2015.0,Europe,MBA,Masters Degree,MBA,50,Graduated,20143,24,8.63,NaN
70362,75744,2014,Kona,2015.0,Europe,MBA,Masters Degree,MBA,50,Graduated,20151,24,7.88,NaN
70363,75744,2014,Kona,2015.0,Europe,MBA,Masters Degree,MBA,50,Graduated,20153,24,7.94,NaN
112419,123478,2023,Kona,2005.0,Iceland,Íþróttafræðideild,Bachelors Degree,Diplóma í styrk- og þrekþjálfun,600,Graduated,20241,30,7.60,NaN
112420,123478,2023,Kona,2005.0,Iceland,Íþróttafræðideild,Bachelors Degree,Diplóma í styrk- og þrekþjálfun,600,Graduated,20233,30,8.90,NaN

In [43]:
df.drop(df[df['BirthYear'] > 2010].index, inplace=True)
df.nlargest(5, 'BirthYear')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
112419,123478,2023,Kona,2005.0,Iceland,Íþróttafræðideild,Bachelors Degree,Diplóma í styrk- og þrekþjálfun,600,Graduated,20241,30,7.60,NaN
112420,123478,2023,Kona,2005.0,Iceland,Íþróttafræðideild,Bachelors Degree,Diplóma í styrk- og þrekþjálfun,600,Graduated,20233,30,8.90,NaN
105000,112154,2021,Kona,2004.0,Iceland,Verkfræðideild,Bachelors Degree,BSc í rekstrarverkfræði,75,Graduated,20241,30,8.13,NaN
105001,112154,2021,Kona,2004.0,Iceland,Verkfræðideild,Bachelors Degree,BSc í rekstrarverkfræði,75,Graduated,20213,30,6.78,NaN
105002,112154,2021,Kona,2004.0,Iceland,Verkfræðideild,Bachelors Degree,BSc í rekstrarverkfræði,75,Graduated,20221,30,6.83,NaN

In [44]:
df.nsmallest(5, 'BirthYear')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
66833,72842,2014,Karl,1901.0,North America,Verkfræðideild,Masters Degree,MSc í orkuvísindum - Iceland School of Energy,372,Graduated,20153,30,7.50,NaN
66834,72842,2014,Karl,1901.0,North America,Verkfræðideild,Masters Degree,MSc í orkuvísindum - Iceland School of Energy,372,Graduated,20143,42,8.00,NaN
66835,72842,2014,Karl,1901.0,North America,Verkfræðideild,Masters Degree,MSc í orkuvísindum - Iceland School of Energy,372,Graduated,20151,36,8.07,NaN
66836,72842,2014,Karl,1901.0,North America,Verkfræðideild,Masters Degree,MSc í orkuvísindum - Iceland School of Energy,372,Graduated,20152,28,7.50,NaN
66837,72848,2014,Karl,1901.0,Europe,Verkfræðideild,Masters Degree,MSc í orkuvísindum - Iceland School of Energy,372,Graduated,20153,30,8.50,NaN

In [45]:
count_under_1940 = (df['BirthYear'] < 1940).sum()
print(count_under_1940)

112

In [46]:
df.nsmallest(5, 'Semester')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
1,302,1988,Kona,1954.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19881,30,8.82,NaN
26,318,1988,Karl,1967.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19881,30,9.34,NaN
135,410,1988,Kona,1966.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19881,30,6.79,NaN
473,700,1988,Kona,1963.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19881,30,7.23,NaN
763,960,1988,Kona,1965.0,Iceland,Tölvunarfræðideild,Bachelors Degree,Kerfisfræði,1,Graduated,19881,30,7.17,NaN

In [47]:
count_under_2005 = (df['Semester'] < 20051).sum()
count_under_2005

np.int64(21877)

In [48]:
count_over_2005 = (df['Semester'] >= 20051).sum()
count_over_2005

np.int64(91066)

In [49]:
df.drop(df[df['Semester'] < 20051].index, inplace=True)
df.nsmallest(5, 'Semester')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
3757,3176,2000,Kona,1977.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,30,7.20,NaN
3845,3226,2000,Karl,1980.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,30,6.90,NaN
3877,3238,2000,Kona,1968.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði með viðskiptafræði sem auk...,15,Graduated,20051,12,7.00,NaN
4046,3322,2000,Kona,1980.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði með viðskiptafræði sem auk...,15,Graduated,20051,12,6.75,NaN
4357,3468,2000,Karl,1980.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,24,5.25,NaN

In [50]:
df.nsmallest(5, 'Semester')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
3757,3176,2000,Kona,1977.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,30,7.20,NaN
3845,3226,2000,Karl,1980.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,30,6.90,NaN
3877,3238,2000,Kona,1968.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði með viðskiptafræði sem auk...,15,Graduated,20051,12,7.00,NaN
4046,3322,2000,Kona,1980.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði með viðskiptafræði sem auk...,15,Graduated,20051,12,6.75,NaN
4357,3468,2000,Karl,1980.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,24,5.25,NaN

In [51]:
count_under_1940 = (df['BirthYear'] < 1930).sum()
print(count_under_1940)

111

In [52]:
df.drop(df[df['BirthYear'] < 1930].index, inplace=True)
df.nsmallest(5, 'BirthYear')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
31876,32638,2006,Kona,1943.0,Iceland,Kennslufræði- og lýðheilsudeild,Bachelors Degree,Diplómanám í stærðfræði,234,Graduated,20063,18,9.17,NaN
31877,32638,2006,Kona,1943.0,Iceland,Kennslufræði- og lýðheilsudeild,Bachelors Degree,Diplómanám í stærðfræði,234,Graduated,20071,32,8.78,NaN
31878,32638,2006,Kona,1943.0,Iceland,Kennslufræði- og lýðheilsudeild,Bachelors Degree,Diplómanám í stærðfræði,234,Graduated,20072,6,6.50,NaN
31879,32638,2006,Kona,1943.0,Iceland,Kennslufræði- og lýðheilsudeild,Bachelors Degree,Diplómanám í stærðfræði,234,Graduated,20081,12,9.25,NaN
42926,47606,2008,Karl,1946.0,Iceland,Viðskipta- og hagfræðideild,Masters Degree,Meistaranám - Stjórnun heilbrigðisþjónustu og ...,233,Graduated,20101,36,8.90,NaN

In [53]:
df['Credits'] = df['Credits'].astype(str).str.replace(',', '.').astype(float)
df.nlargest(10, 'Credits')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
26642,27922,2005,Kona,1964.0,Iceland,Verkfræðideild,Bachelors Degree,Lífeindafræði B.Sc.,139,Graduated,20053,202.0,9.00,NaN
30454,30644,2005,Kona,1960.0,Iceland,Verkfræðideild,Bachelors Degree,Lífeindafræði B.Sc.,139,Graduated,20063,196.0,9.43,NaN
29616,29896,2005,Karl,1973.0,Iceland,Tæknifræðideild,Bachelors Degree,BSc í byggingartæknifræði/framkvæmda- og lagna...,193,Graduated,20053,156.0,6.50,NaN
26452,27618,2005,Karl,1973.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,"Viðskiptafræði, B.Sc., af markaðssviði",172,Graduated,20053,150.0,7.80,NaN
26475,27662,2005,Karl,1969.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,"Viðskiptafræði, B.Sc., af markaðssviði",172,Graduated,20053,150.0,7.50,NaN
35248,37914,2007,Kona,1984.0,Iceland,Íþróttafræðideild,Bachelors Degree,BSc í íþróttafræði,62,Graduated,20081,150.0,7.27,NaN
43615,48488,2008,Karl,1976.0,Iceland,Tæknifræðideild,Bachelors Degree,BSc í byggingartæknifræði/framkvæmda- og lagna...,193,Graduated,20083,150.0,6.29,NaN
57697,63266,2012,Karl,1990.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í hugbúnaðarverkfræði,64,Graduated,20123,150.0,8.50,NaN
57735,63300,2012,Karl,1990.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í hugbúnaðarverkfræði,64,Graduated,20123,150.0,9.10,NaN
30478,30668,2005,Kona,1981.0,Iceland,Lagadeild,Bachelors Degree,BA í lögfræði,41,Graduated,20063,148.0,7.00,NaN

In [54]:
count = (df['Credits'] > 60).sum()
print(count)

582

In [55]:
df.drop(df[df['Credits'] > 60].index, inplace=True)
df.nsmallest(5, 'Credits')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
51894,56764,2010,Karl,1978.0,Iceland,Lagadeild,Masters Degree,ML í lögfræði,57,Graduated,20113,1.5,8.0,NaN
16681,15926,2003,Karl,1982.0,Iceland,Verkfræðideild,Bachelors Degree,Geislafræði B.Sc.,137,Graduated,20061,2.0,7.5,NaN
26531,27802,2005,Karl,1966.0,Iceland,Tæknifræðideild,Bachelors Degree,BSc í byggingartæknifræði,66,Graduated,20053,2.0,8.5,NaN
56958,61820,2012,Kona,1984.0,Iceland,Tæknifræðideild,Bachelors Degree,Diplóma í byggingariðnfræði,69,Graduated,20153,2.0,9.5,NaN
68656,74598,2014,Karl,1974.0,Iceland,Tæknifræðideild,Bachelors Degree,BSc í byggingartæknifræði,66,Graduated,20183,2.0,9.5,NaN

In [56]:
df.nsmallest(5, 'RegistrationYear')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13
24803,24926,1992,Karl,1958.0,Iceland,Tæknifræðideild,Bachelors Degree,Diplóma í rafiðnfræði,70,Graduated,20071,12.0,8.50,NaN
24805,24926,1992,Karl,1958.0,Iceland,Tæknifræðideild,Bachelors Degree,Diplóma í rafiðnfræði,70,Graduated,20051,18.0,7.00,NaN
24806,24926,1992,Karl,1958.0,Iceland,Tæknifræðideild,Bachelors Degree,Diplóma í rafiðnfræði,70,Graduated,20053,18.0,7.33,NaN
24807,24926,1992,Karl,1958.0,Iceland,Tæknifræðideild,Bachelors Degree,Diplóma í rafiðnfræði,70,Graduated,20061,18.0,7.33,NaN
24808,24926,1992,Karl,1958.0,Iceland,Tæknifræðideild,Bachelors Degree,Diplóma í rafiðnfræði,70,Graduated,20063,12.0,7.25,NaN

In [57]:
df['reg_birth_diff'] = df['RegistrationYear'] - df['BirthYear']

In [58]:
df.nlargest(5, 'reg_birth_diff')

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13,reg_birth_diff
82664,90370,2017,Karl,1950.0,Iceland,Lagadeild,Masters Degree,ML í lögfræði,57,Graduated,20203,15.00,6.00,NaN,67.0
82665,90370,2017,Karl,1950.0,Iceland,Lagadeild,Masters Degree,ML í lögfræði,57,Graduated,20173,8.00,6.50,NaN,67.0
82666,90370,2017,Karl,1950.0,Iceland,Lagadeild,Masters Degree,ML í lögfræði,57,Graduated,20181,15.00,8.00,NaN,67.0
82667,90370,2017,Karl,1950.0,Iceland,Lagadeild,Masters Degree,ML í lögfræði,57,Graduated,20183,22.50,7.33,NaN,67.0
82668,90370,2017,Karl,1950.0,Iceland,Lagadeild,Masters Degree,ML í lögfræði,57,Graduated,20191,18.75,8.25,NaN,67.0

In [59]:
df['Gender'].unique()

array(['Karl', 'Kona', 'Kynsegin/annað'], dtype=object)

In [60]:
df['Origin'].unique()

array(['Iceland', 'Europe', 'North America', 'Asia', 'Africa',
       'South America', 'NoWhereLand', 'Oceania'], dtype=object)

In [61]:
count = (df['Origin'] == 'NoWhereLand').sum()
print(count)

1

In [62]:
df = df[df['Origin'] != 'NoWhereLand']
df

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,Unnamed: 13,reg_birth_diff
655,864,1998,Karl,1973.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,20103,12.0,8.75,NaN,25.0
3720,3160,2000,Kona,1973.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20071,6.0,6.50,NaN,27.0
3757,3176,2000,Kona,1977.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,30.0,7.20,NaN,23.0
3836,3226,2000,Karl,1980.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20063,12.0,6.50,NaN,20.0
3845,3226,2000,Karl,1980.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,30.0,6.90,NaN,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112949,130962,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í orkuvísindum - Iceland School of Energy,49,Graduated,20241,38.0,7.40,NaN,20.0
112950,130963,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í hátækniverkfræði,49,Graduated,20243,38.0,6.10,NaN,20.0
112951,130964,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í tölvunarfræði,49,Graduated,20243,38.0,9.50,NaN,20.0
112952,130965,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í hátækniverkfræði,49,Graduated,20233,38.0,6.10,NaN,20.0
112953,130966,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í tölvunarfræði,49,Graduated,20233,38.0,9.50,NaN,20.0

In [63]:
df['Department'].unique()

array(['Tölvunarfræðideild', 'Viðskipta- og hagfræðideild', 'Lagadeild',
       'MBA', 'Verkfræðideild', 'Tæknifræðideild', 'Frumgreinadeild',
       'Íþróttafræðideild', 'Kennslufræði- og lýðheilsudeild',
       'Sálfræðideild', 'MPM'], dtype=object)

In [65]:
df['Major'].unique()

array(['BSc í tölvunarfræði', 'BSc í viðskiptafræði',
       'BSc í tölvunarfræði með viðskiptafræði sem aukagrein',
       'BSc í viðskiptafræði með tölvunarfræði sem aukagrein',
       'Diplóma í kerfisfræði', 'Diplóma í kerfisfræði - HMV',
       'Diplóma í kerfisfræði - Fjarnám', 'BSc í viðskiptafræði (HMV)',
       'Diploma - Fjármál og rekstur',
       'Diploma - Stjórnun og starfsmannamál', 'MBA - Mannauðsstjórnun',
       'BA í lögfræði', 'BS í tölvunarfræði - Kerfishugbúnaður',
       'BSc í tölvunarfræði - raunvísindaval', 'MBA',
       'Diploma - Markaðsfræði og alþjóðaviðsk.', 'MSc í tölvunarfræði',
       'BSc í viðskiptafræði - áhersla á tungumál',
       'Meistaranám í fjárfestingarstjórnun', 'Geislafræði B.Sc.',
       'BSc í byggingartæknifræði/framkvæmda- og lagnasvið',
       'Tölvu- og upplýsingatæknifræði B.Sc',
       'Viðskiptafræði, B.Sc., af vörustjórnunarsviði',
       'Diplóma í véliðnfræði', 'Diplóma í rafiðnfræði',
       'Viðskiptafræði, B.Sc., af markaðssviði',
       'Vél- og orkutæknifræði B.Sc..', 'Frumgreinanám',
       'Iðnaðartæknifræði,  þróunar-sjálfvirknisvið - B.Sc',
       'Lífeindafræði B.Sc.', 'BSc í vél- og orkutæknifræði',
       'BSc í byggingartæknifræði/burðarvirkjasvið',
       'Rafmagnstæknifræði, sterkstraumskerfi B.Sc.',
       'Diplóma í byggingariðnfræði',
       'Rafmagnstæknifræði, veikstraumskerfi  B.Sc',
       'Iðnaðartæknifræði,  iðnvörumarkaðssvið B.Sc.',
       'BSc í byggingartæknifræði',
       'Iðnaðartæknifræði,  matvælatæknisvið - B.Sc.',
       'Orkutæknifræði B.Sc.', 'BSc í Iðnaðartæknifræði',
       'Rafiðnfræði - diploma', 'Diploma - Rekstrarfræði af markaðssviði',
       'Diploma - Rekstrarfræði af rekstrarsviði', 'Rekstrariðnfræði',
       'ML í lögfræði', 'Meistaranám í reikningshaldi og endurskoðun',
       'MSc í fjármálum fyrirtækja', 'BSc í íþróttafræði',
       'Meistaranám í lýðheilsufræðum',
       'Meistaranám í lýðheilsu- og kennslufræðum',
       'M.Ed í stærðfræði/raungreinum og kennslufræði',
       'Diplómanám í kennslufræði', 'BSc í hátækniverkfræði',
       'BSc í fjármálaverkfræði', 'BSc í heilbrigðisverkfræði',
       'BSc í hugbúnaðarverkfræði', 'BSc í rafmagnstæknifræði',
       'BSc í rekstrarverkfræði',
       'MSc byggingarverkfræði/framkvæmdastjórnun', 'Véltæknifræði B.Sc.',
       'BSc í stærðfræði', 'Diplómanám í stærðfræði',
       'B.S.Ed í stærðfræði og kennslufræðum',
       'MSc byggingarverkfræði/mannvirkjahönnun',
       'MSc í framkvæmdastjórnun', 'MSc byggingarverkfræði',
       'MSc byggingarverkfræði/steinsteyputækni',
       'MSc byggingarverkfræði/umferð og skipulag',
       'MSc í skipulagsfræði og samgöngum', 'MSc í máltækni',
       'Meistaranám í alþjóðaviðskiptum', 'Diplóma í Rekstrariðnfræði',
       'MSIM í fjárfestingarstjórnun', 'MSc í hugbúnaðarverkfræði',
       'MSc í fjármálaverkfræði',
       'Meistaranám - Stjórnun heilbrigðisþjónustu og lýðheilsu',
       'MSc í ákvarðanaverkfræði', 'MSc í heilbrigðisverkfræði',
       'BSc í byggingafræði', 'MSc í sjálfbærum orkuvísindum - REYST',
       'MSc í rekstrarverkfræði', 'MSc í rafmagnsverkfræði',
       'MSc í vélaverkfræði', 'BSc í sálfræði',
       'MABI í stjórnunarreikningsskilum og viðskiptagreind 120 ECTS',
       'MSc í íþróttavísindum og þjálfun',
       'MEd í heilsuþjálfun og kennslu',
       'Diplóma með áherslu á fjármál og rekstur', 'BSc í vélaverkfræði',
       'MSc í byggingarverkfræði með sérhæfingu í mannvirkjahönnun og steinsteyputækni',
       'MSc í rekstrarfræði', 'MAcc í reikningshaldi og endurskoðun',
       'ML í lögfræði - fullnaðarpróf', 'MSc í lífupplýsingafræði',
       'Meistarapróf í lögfræði', 'MSc í alþjóðaviðskiptum',
       'Meistaranám í stjórnun og eflingu mannauðs',
       'MCF í fjármálum fyrirtækja', 'Diplóma með áherslu á stjórnun',
       'MPM - Meistaranám í verkefnastjórnun', 'BSc í tölvunarstærðfræði',
       'MIB í alþjóðaviðskiptum', 'MSc í stjórnun og eflingu mannauðs',
       'Diplóma með áherslu á markaðsfræði',
       'MSc í heilbrigðisverkfræði með sérhæfingu í lífupplýsingafræði',
       'BSc í viðskiptafræði - Fjarnám',
       'Viðskiptafræðigrunnur / Háskólagrunnur HR',
       'MSc í orkuverkfræði - Iceland School of Energy',
       'MSc í orkuvísindum - Iceland School of Energy',
       'MSc í mannauðsstjórnun og vinnusálfræði - 120 ECTS',
       'MIBM í alþjóðaviðskiptum og markaðsfræði',
       'Diplóma í tölvunarfræði - HMV',
       'BSc í viðskiptafræði með lögfræði sem aukagrein',
       'BA í lögfræði með viðskiptafræði sem aukagrein',
       'MHRM í mannauðsstjórnun og vinnusálfræði',
       'MSc í alþjóðaviðskiptum og markaðsfræði',
       'MSc í klínískri sálfræði', 'MSc í markaðsfræði - 120 ECTS',
       'MSc í viðskiptafræði', 'MIM í upplýsingastjórnun',
       'Tækni- og verkfræðigrunnur / Háskólagrunnur HR',
       'Lögfræðigrunnur / Háskólagrunnur HR',
       'MSc í markaðsfræði - 90 ECTS',
       'Diplóma í tölvunarfræði - staðarnám',
       'BSc í tölvunarfræði - almenn',
       'Tölvunarfræðigrunnur / Háskólagrunnur HR',
       'Háskólagrunnur I, Tölvunarfræði', 'Diplóma í kerfisstjórnun',
       'BSc í tölvunarfræði - rannsóknarmiðað',
       'Diplóma í tölvunarfræði í samstarfi við HA',
       'MABI í stjórnunarreikningsskilum og viðskiptagreind 90 ECTS',
       'BSc í hagfræði og fjármálum', 'Diplóma í haftengdri nýsköpun',
       'BSc í tölvunarfræði við HA',
       'MHRM,  mannauðsstjórnun og vinnusálfræði - 90 ECTS',
       'MSc í verkefnastjórnun', 'MSc í byggingarverkfræði',
       'MIM, upplýsingastjórnun - 90 ECTS', 'MSc í raforkuverkfræði',
       'MM, markaðsfræði - 90 ECTS',
       'MAcc, reikningshald og endurskoðun - 90 ECTS',
       'MSc í mannauðsstjórnun og vinnusálfræði - 90 ECTS',
       'MSc í upplýsingastjórnun - 90 ECTS', 'BSc í hagfræði og stjórnun',
       'MBM, viðskiptafræði - 90 ECTS',
       'MCF, fjármál fyrirtækja - 90 ECTS',
       'MINN, stjórnun nýsköpunar - 90 ECTS',
       'MSc í fjármálum fyrirtækja - 90 ECTS',
       'MSc í stjórnun nýsköpunar - 90 ECTS',
       'MTHM, stjórnun í ferðaþjónustu - 90 ECTS',
       'MSc í hátækniverkfræði', 'MSc í hagnýtri atferlisgreiningu',
       'MSc Tvöföld meistaragráða í íþróttastjórnun og íþróttavísindum',
       'MSc í viðskiptafræði - 90 ECTS',
       'MSc í stjórnun í ferðaþjónustu - 90 ECTS',
       'Diplóma í upplýsingatækni í mannvirkjagerð',
       'BSc í orkuverkfræði', 'Diplóma í rekstrarfræði',
       'MSc í gagnavísindum', 'MSc í hagnýttum gagnavísindum',
       'BSc í verkfræði', 'MSc í verkfræði',
       'MSc í gervigreind og máltækni', 'BSc í raforkuverkfræði',
       'Diplóma í foreldrafærniþjálfun',
       'Diplóma í styrk- og þrekþjálfun',
       'Samfélags- og viðskiptafræðigrunnur / Háskólagrunnur HR',
       'MSc í stafrænni heilbrigðistækni',
       'MDMD, stafræn stjórnun og gagnagreining'], dtype=object)

In [66]:
df['Major_Type'].unique()

array(['Bachelors Degree', 'Masters Degree', 'Preliminary Degree'],
      dtype=object)

In [67]:
df['Reg_Status'].unique()

array(['Graduated'], dtype=object)

In [70]:
df.to_excel("df_clean.xlsx", index=False)

In [72]:
df['Unnamed: 13'].unique()

array([nan])

In [73]:
df = df.drop(columns=['Unnamed: 13'])

In [74]:
df.to_excel("df_clean.xlsx", index=False)

In [75]:
df.isna().sum()

StudentID           0
RegistrationYear    0
Gender              0
BirthYear           4
Origin              0
Department          0
Major_Type          0
Major               0
MajorID             0
Reg_Status          0
Semester            0
Credits             0
Grade               0
reg_birth_diff      4
dtype: int64

In [76]:
df = df.dropna(subset=['BirthYear'])

In [77]:
df

,StudentID,RegistrationYear,Gender,BirthYear,Origin,Department,Major_Type,Major,MajorID,Reg_Status,Semester,Credits,Grade,reg_birth_diff
655,864,1998,Karl,1973.0,Iceland,Tölvunarfræðideild,Bachelors Degree,BSc í tölvunarfræði,12,Graduated,20103,12.0,8.75,25.0
3720,3160,2000,Kona,1973.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20071,6.0,6.50,27.0
3757,3176,2000,Kona,1977.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,30.0,7.20,23.0
3836,3226,2000,Karl,1980.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20063,12.0,6.50,20.0
3845,3226,2000,Karl,1980.0,Iceland,Viðskipta- og hagfræðideild,Bachelors Degree,BSc í viðskiptafræði,4,Graduated,20051,30.0,6.90,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112949,130962,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í orkuvísindum - Iceland School of Energy,49,Graduated,20241,38.0,7.40,20.0
112950,130963,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í hátækniverkfræði,49,Graduated,20243,38.0,6.10,20.0
112951,130964,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í tölvunarfræði,49,Graduated,20243,38.0,9.50,20.0
112952,130965,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í hátækniverkfræði,49,Graduated,20233,38.0,6.10,20.0
112953,130966,2022,Karl,2002.0,South America,Tölvunarfræðideild,Masters Degree,MSc í tölvunarfræði,49,Graduated,20233,38.0,9.50,20.0

In [78]:
df.to_excel("df_clean.xlsx", index=False)